name: Automatisation des tests
on: push
jobs:
    Compilation:
        runs-on: ubuntu-latest
        steps:
        - name: Compilation
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            make test

    Test_Add:
        runs-on: ubuntu-latest
        needs: Compilation
        steps:
        - name: Test fonction add
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator add 10 5

    Test_Sub:
        runs-on: ubuntu-latest
        needs: Compilation
        steps:
        - name: Test fonction sub
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator sub 3 -2

    Test_Mul:
        runs-on: ubuntu-latest
        needs: Compilation
        steps:
        - name: Test fonction mul
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator mul 10 5


    Test_Div:
        runs-on: ubuntu-latest
        needs: Compilation
        steps:
        - name: Test fonction div
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator div 10 5


    Test_Square:
        runs-on: ubuntu-latest
        needs: Compilation
        steps:
        - name: Test fonction square
          run: |
            last_directory=$(basename ${{ runner.workspace }})
            git clone https://github.com/${{ github.repository }}.git
            cd ./$last_directory
            mkdir build
            cd build
            cmake ..
            make
            ./src/calculator square 5

    Test_Deploy:
        runs-on: ubuntu-latest
        needs:
            - Test_Car
            - Test_Div
            - Test_Mul
            - Test_Sub
            - Test_Add
        steps:
        - name: Deploy
          run: |
            echo "Deploiement de la solution"